.corner{
  position: absolute;
  z-index: -1;
  &--center {
    width: 210px;
    height: 210px;
    left: -221px;
    top: 50%;
    background-color: #00a665;
    transform: rotate(45deg) translateY(-79%);
    &.s-2 {
      background-color: #816FB2;
    }
    &.s-3 {
      background-color: #20A6DF;
    }
  }
  &--white-senter {
    width: 132px;
    height: 132px;
    top: 51%;
    background-color: #fff;
    transform: rotate(45deg) translateY(-79%);
    right: -6px;
    z-index: -1;
  }
  &--top, &--bottom {
    width: 250px;
    height: 250px;
    position: absolute;
    left: -125px;
    top: -125px;
    background-color: #FFC826;
    transform: rotate(45deg) translate(0,0);
  }
  &--bottom {
    bottom: -125px;
    top: auto;
  }
  &--two {
    width: 345px;
    height: 345px;
    &--top {
      right: -115px;
      top: -172px;
      transform: rotate(-45deg) translate(0,0);
    }
    &--bottom {
      right: -173px;
      bottom: -115px;
      transform: rotate(45deg) translate(0,0);
    }
  }
  &--two__big {
    background-color: #ffc826;
    width: 100%;
    height: 100%;
    position: relative;
    img {
      position: absolute;
      max-width: 100%;
      -o-object-fit: contain;
      object-fit: contain;
      left: 13px;
      bottom: 19px;
      transform: rotate(45deg);
    }
    &--bottom {
      img {
        left: 13px;
        top: 19px;
        transform: rotate(135deg);
      }
    }
  }
  &--two__small {
    background-color: #20A6DF;
    width: 100%;
    height: 80px;
    &.s-2{
      background-color: #00A665;
    }
    &.s-3{
      background-color: #816FB2;
    }
  }
  &--sl-6 {
    width: 298px;
    height: 467px;
    &.top {
      transform: rotate(-45deg);
      right: -105px;
      top: -190px;
      .corner--sl-6__left {
        img {
          left: 5%;
          top: 70%;
          transform: rotate(45deg);
        }
      }
    }
    &.bot {
      transform: rotate(45deg);
      right: -105px;
      bottom: -190px;
      .corner--sl-6__left {
        img {
          left: 5%;
          top: 9%;
          transform: rotate(135deg);
        }
      }
    }
    &__left {
      height: 50%;
      background-color: #20A6DF;
      position: relative;
      img {
        position: absolute;
        max-width: 59px;
      }
    }
    &__right {
      height: 50%;
      background-color: #FEC704;
    }
  }
  &--three {
    z-index: -1;
    .img {
      position: relative;
      img {
        position: absolute;
      }
    }
    .white {
      background-color: #fff;
      width: 100%;
      height: 112px;
    }
    .img {
      width: 50%;
      height: 120px;
      background-color: #896AAC;
    }
    .sm {
      width: 50%;
      height: 120px;
      background-color: #E85035;
    }
    &--top {
      width: 435px;
      height: 200px;
      display: flex;
      left: 86%;
      display: flex;
      flex-wrap: wrap;
      transform: rotate(45deg);
      align-items: flex-start;
      top: -5%;
      .img {
        img {
          top: 40%;
          left: 62%;
          transform: rotate(-45deg);
        }
      }
    }
    &--bot {
      width: 435px;
      height: 200px;
      display: flex;
      left: 86%;
      z-index: -1;
      display: flex;
      flex-wrap: wrap;
      transform: rotate(135deg);
      align-items: flex-start;
      bottom: -5%;
      .img {
        img {
          top: 41%;
          left: 3%;
          transform: rotate(45deg);
        }
      }
    }
  }
  @include md_1190 {
    &--three {
      width: 335px;
      height: 100px;
      .img {
        img {
          max-width: 53px;
        }
      }
      &--top {
        left: 89%;
        top: -8%;

        .img {
          img {
            top: 52%;
          }
        }
      }
      &--bot {
        left: 89%;
        bottom: -8%;
        .img {
          img {
            top: 55%;
          }
        }
      }
    }
  }
  @include md_1000 {
    &--top, &--bottom {
      width: 150px;
      height: 150px;
      left: -75px;
    }
    &--top {
      top: -75px;
    }
    &--bottom {
      bottom: -75px;
    }
    &--center {
      width: 150px;
      height: 150px;
      left: -159px;
    }
    &--two {
      width: 280px;
      height: 280px;
      &--top {
        right: -100px;
        top: -190px;
      }
      &--bottom {
        right: -156px;
        bottom: -116px;
      }
    }
  }
  @include md_860 {
    &--sl-6 {
      width: 210px;
      height: 380px;
    }
  }
  @include sm_769 {
    &--sl-6 {
      width: 198px;
      height: 367px;
      &__left {
        img {
          max-width: 36px;
        }
      }
      &.top {
        .corner--sl-6__left img {
          left: 4%;
          top: 77%;
        }
      }
    }
  }
  @include sm_690 {
    &--sl-6.top {
      right: -121px;
      top: -206px;
    }
    &--sl-6.bot {
      right: -120px;
      bottom: -203px;
    }
    &--top, &--bottom {
      width: 130px;
      height: 130px;
      left: -65px;
    }
    &--top {
      top: -65px;
    }
    &--bottom {
      bottom: -65px;
    }
    &--center {
      width: 120px;
      height: 120px;
      left: -128px;
      opacity: .7;
    }
    &--two {
      width: 250px;
      height: 250px;
      &__big {
        img {
          max-width: 50px;
          left: 7px;
        }
      }
      &--top {

      }
      &--bottom {
        right: -155px;
        bottom: -133px;
      }
    }
    &--three{
      .img{
        height: 70px;
        img {
          top: 37%;
          max-width: 40px;
          left: 34%;
        }
      }
      .sm {
        height: 70px;
      }
      &--top {
        left: 90%;
        top: -2%;
      }
      &--bot {
        left: 90%;
        bottom: -2%;
        .img {
          img {
            top: 39%;
            left: 42%;
          }
        }
      }
    }
  }
}