
section {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.governor-appeal {
  height: 100vh;
  position: relative;
  background-image: url(../img/governor-appeal__bg.png);
  .center-wrap {
    padding-top: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }
  .governor-appeal__img {
    margin-top: auto;
    background-image: url(../img/governor-appeal__img.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    max-width: 605px;
    width: 100%;
    max-height: 100%;
    &::before {
      content: "";
      padding-bottom: 126%;
      display: block;
    }
  }
  .governor-appeal__text {
    margin-left: auto;
    max-width: 520px;
    width: 100%;
    h2 {
      text-transform: uppercase;
      font-weight: 400;
      font-size: 35px;
      color: $color_black;
      margin-bottom: 55px;
    }
    p {
      font-weight: 400;
      font-size: 16.6px;
      color: $color_black;
      margin-bottom: 22px;
      &:last-of-type {
        margin-bottom: 0;
      }
    }
    .governor-appeal__name {
      span {
        font-size: 12.5px;
        display: block;
      }
    }
  }
  &--third {
    background-image: url(../img/sl3/bg.png);
    .governor-appeal__text {
      max-width: initial;
      margin-top: 43px;
      h2 {
        color: $color_white;
        text-align: center;
      }
    }
    .center-wrap {
      flex-direction: column;
      justify-content: flex-start;
    }
  }
  &.s-news {
    background-image: none;
    .center-wrap {
      justify-content: flex-start;
      align-items: flex-start;
      height: 100vh;
    }
  }
}
/////
.s-invest {
  background-color: $color_white;
  background-image: none;
}
.s-title {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 35px;
  color: $color_black;
  margin-bottom: 49px;
  text-align: center;
  word-break: break-word;
  @include sm_769 {
    font-size: 26px;
  }
  @include xs_540 {
    font-size: 17px;
    line-height: 1.3;
  }
}

.grid {
  display: flex;
  >.n-1 {
    display: flex;
    flex-direction: column;
    .invest__item.n-5 {
      flex-grow: 1;
    }
  }
  >.n-2 {
    display: flex;
    flex-direction: column;
    > .invest__item {
      flex-direction: row;
      align-items: center;
    }
    .inner {
      display: flex;
      flex-grow: 1;
    }
  }
  >.n-3 {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    .invest__item {
      flex-grow: 1;
    }
  }
  >.n-4 {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    .invest__item {
      &:first-child {
        padding: 9px 18px 22px 21px;
      }
      &:last-child {
        flex-grow: 1;
      }
    }
  }
}


.invest {
  padding-top: 147px;
  height: 100%;
  &__wrap {
    height: 100%;
    background-color: $color_yellow;
    padding-top: 47px;
    padding-bottom: 79px;
    position: relative;
    z-index: 1;
    overflow: hidden;
  }
  &__arrow {
    margin-left: 5px;
  }
  &__number {
    color: $color_yellow;
    font-size: 50px;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
    position: absolute;
    left: 18px;
    top: 9px;
  }
  .layer {
    position: absolute;
    right: -115px;
    top: 0;
    height: 100%;
    img {
      height: 100%;
    }
  }
  &__img {
    img {
      //width: 100%;
    }
  }
  &__link {
    text-align: left;
  }
  &__item {
    position: relative;
    margin: 1.5px;
    text-align: left;
    padding: 33px 30px 23px 30px;
    &.n-1,&.n-9 {
      background-color: #EB5573;
    }
    &.n-2, &.n-8 {
      background-color: #20A6DF;
    }
    &.n-3,&.n-6 {
      background-color: $color_green;
    }
    &.n-4,&.n-5, &.n-7  {
      background-color: $color_fiol;
    }
    &.n-1 {
      max-width: 283px;
      padding-bottom: 17px;
      display: flex;
      .invest__link {
        font-size: 15px;
        font-weight: 500;
        text-transform: uppercase;
        position: absolute;
        right: 20px;
        bottom: 16px;
        max-width: 141px;
        align-items: center;
      }
      .invest__img {
        img {
          max-width: 176px;
          height: 179px;
          margin: 5px 0 0 -13px;
        }
      }
      .invest__link{

      }
    }
    &.n-2 {
      display: flex;
      flex-direction: column;
      max-width: 396px;
      padding: 15px 4px 10px 49px;
      > .invest__item {
        flex-direction: row;
        align-items: center;
      }
      .invest__img {
        img {
          max-width: 126px;
          height: 129px;
        }
      }
      .invest__link {
        margin-left: 10px;
        text-align: left;
      }
    }
    &.n-3 {
      max-width: 199px;
      padding: 33px 30px 14px 30px;
      .invest__img {
        text-align: center;
        img {
          max-height: 134px;
          max-width: 110px;
        }
      }
      .invest__link {
        position: relative;
        display: inline-block;
      }
    }
    &.n-4 {
      max-width: 297px;
      width: 100%;
      .invest__img {
        img {
          max-width: 142px;
        }
      }
    }
    &.n-5 {
      max-width: 283px;
      padding: 26px 30px 20px 30px;
      .invest__img {
        img {
          max-width: 199px;
        }
      }
    }
    &.n-6 {
      max-width: 200px;
      padding: 37px 14px 25px 14px;
      display: flex;
      flex-direction: column;
      .invest__img {
        img {
          max-width: 175px;
        }
      }
      .invest__link {
        margin-top: auto;
      }
    }
    &.n-7 {
      max-width: 193px;
      display: flex;
      flex-direction: column;
      padding: 39px 19px 22px 19px;
      .invest__link {
        margin-top: auto;
        position: relative;
        img {
          position: absolute;
          right: -5px;
        }
      }
      .invest__img {
        img {
          max-width: 153px;
        }
      }
    }
    &.n-8 {
      max-width: 199px;
      .invest__img {
        img {
          max-width: 131px;
        }
      }
    }
    &.n-9 {
      max-width: 297px;
      text-align: center;
      padding: 24px 30px 26px 30px;
      display: flex;
      flex-direction: column;
      .invest__link {
        vertical-align: top;
        justify-content: center;
        text-align: center;
        font-size: 15px;
        font-weight: 500;
        text-transform: uppercase;
      }
      .invest__img {
        margin-bottom: 23px;
        img {
          max-height: 173px;
        }
      }
    }
  }
  &__img {
    text-align: center;
  }
  &__link {
    color: $color_black;
    font-size: 15px;
    font-weight: 500;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }
  &__mobile {
    display: none;
  }
  @include md_1190 {
    &__link {
      font-size: 13px;
      word-wrap: break-word;
    }
    &__item {
      padding: 33px 10px 23px 10px;
    }
    &__number {
      font-size: 33px;
      left: 6px;
      top: 6px;
    }
    &__item.n-5 {
      max-width: 283px;
      padding: 26px 13px 20px 11px;
    }
    &__item.n-7 {
      padding: 39px 12px 22px 9px;
    }
    &__item.n-2 {
      padding: 15px 4px 10px 10px;
      display: block;
      .invest__img img {
        margin: 0;
        height: auto;
      }
    }
    &__item.n-6 {
      padding: 37px 6px 25px 6px;
      min-width: 150px;
    }
    &__item.n-1 {
      display: block;
      .invest__link {
        position: static;
      }
      .invest__img img {
        margin: 0;
        height: auto;
      }
    }
  }
  @include md_900 {
    padding-top: 40px;
  }
  @include md_860 {
    &__mobile {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      .invest__item {
        max-width: initial;
        width: calc((100% - 20px) / 3);
        max-height: initial;
        padding: 15px 10px 23px 10px;
        display: flex;
        flex-direction: column;
      }
    }
    .invest__blocks.grid {
      display: none;
    }
    &__link {
      font-size: 15px;
      margin-top: auto;
    }
  }
  @include sm_769 {
    .invest__item {
      width: calc((100% - 20px) / 2);
    }
  }
  @include xs_540 {
    .invest__item {
      max-width: 310px;
      width: 100%;
    }
    &__link {
      word-break: unset;
    }
  }
  @include sm_690 {
    padding-top: 0;
  }
}
////






////s-history
.s-history {
  background: url(../img/sl6/bg.png) 100% 100.8% repeat-x,url(../img/sl6/left.png) -34px 50%/244px 483px no-repeat;  background-color: $color_white;
  padding-bottom: 86px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  .center-wrap {
    padding-top: 110px;
  }
  @include sm_769 {
    background: url(../img/sl6/bg.png) 100% 100.8% repeat-x,url(../img/sl6/left.png) -34px 50%/144px 299px no-repeat;
  }
  @include sm_690 {
    .center-wrap {
      padding: 60px 25px 0 !important;
    }
  }
}
.history {
  width: 100%;
  &__title {
    color: $color_blue;
    font-size: 35px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 54px;
  }
  &__wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
  }
  &__item {
    width: calc((100% - 26px) / 3);
  }
  &__img {
    position: relative;
    padding-bottom: 61.818181%;
    margin-bottom: 16px;
    &:after {
      content: '';
      position: absolute;
      top: -21px;
      left: 0;
      width: 100%;
      height: 12px;
      background-color:$color_blue;
    }
    img {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  &__t2 {
    color: $color_blue;
    font-size: 10px;
    font-weight: 500;
    margin-bottom: 2px;
  }
  &__t1 {
    color: $color_blue;
    font-size: 19px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 8px;
    word-wrap: break-word;
  }
  &__text {
    color: $color_black;
    font-size: 12px;
    font-weight: 400;
    word-wrap: break-word;
    margin-bottom: 9px;
    min-height: 52px;
  }
  &__text-title {
    color: $color_blue;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 4px;
    padding-top: 10px;
    border-top: 1px solid #20A6DF;
  }
  &__text-prop {
    color: $color_black;
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 11px;
  }
  @include sm_690 {
    &__item {
      width: calc((100% - 26px)/ 2);
      margin-bottom: 25px;
    }
    &__t1 {
      font-size: 15px;
    }
    &__title {
      font-size: 29px;
      margin-bottom: 40px;
    }
  }
  @include xs_540 {
    &__item {
      width: 100%;
    }
    &__t1 {
      font-size: 17px;
    }
  }
}

//sl7
.s-links {
  background-color: #ECECEC !important;
  background: url(../img/sl7/2-layers.png) 0 100%/auto repeat-y,
  url(../img/sl7/2-layers2.png) 100% 100%/auto repeat-y;
  .center-wrap {
    align-items: flex-start;
    padding-top: 197px;
  }
  @include md_1000 {
    background: url(../img/sl7/2-layers.png) 0 100%/auto 320px repeat-y,
    url(../img/sl7/2-layers2.png) 100% 100%/auto 320px repeat-y;
  }
  @include sm_769 {

  }
}

.links {
  &__wrap {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  &__row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    a{
      &:first-child {
        margin-right: 9.8%;
      }
      &:nth-child(2) {
        margin-right: 15px;
      }
      &:last-child {
        margin-left: auto;
      }
    }
  }
  &__side-left {
    width: 100%;
    //max-width: 687px;
    //width: 59%;
    //margin-right: 20%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &__side-right {
    display: flex;
    flex-direction: column;
    //.links__item {
    //  padding-bottom: 31.335789%;
    //}
  }
  &__side-mid {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: -5px;
    a {
      &:first-child {
        margin-right: 38px;
      }
      img {
        max-width: 100%;
      }
    }
  }
  &__title {
    color: $color_black;
    font-size: 35px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 54px;
  }
  &__item {
    display: inline-block;
    position: relative;
    margin-bottom: 63px;
    width: 23.99%;
    //padding-bottom: 10.935789%;
    //max-width: 285px;
    //width: 100%;
    img {
      //position: absolute;
      //left: 0;
      //top: 0;
      //width: 100%;
      //height: 100%;
      max-width: 100%;
      object-fit: contain;
    }
    &:nth-child(3n+0) {
      //margin-right: 9.8%;
      margin-left: auto;
    }
    &:nth-child(3n+1) {
      margin-right: 9.8%;
    }
  }
  @include md_900{
    padding-bottom: 40px;
    &__item {
      margin-bottom: 33px;
      width: calc((100% - 50px) / 2);
      &:nth-child(3n+1) {
        margin-right: 0;
      }
      &:nth-child(3n+0) {
        margin-left: 0;
      }
    }
  }
  @include sm_769 {
    &__side-mid {
      flex-direction: column;
      align-items: center;
      a:first-child {
        margin-right: 0;
      }
      a {
        margin-bottom: 20px;
      }
    }
  }
  @include xs_540 {
    &__item {
      width: 100%;
      margin-bottom: 20px;
    }
    &__side-left {
      max-width: 284px;
      margin: 0 auto;
    }
    &__title {
      font-size: 23px;
      margin-bottom: 30px;
    }
  }
  @include xs_320 {
    &__title {
      font-size: 21px;
    }
  }
}

//s-info

.s-info {
  //background: url(../img/sl8/bg1.png) 0 100%/auto repeat-x;
  background-image: none;
  .swiper-button-next, .swiper-button-prev {
    top: 39%;
  }
}


.info {
  &__item {
    border-bottom: 2px solid #F5C607;
    width: calc((100% - 30px) / 3);
    padding-bottom: 9px;
    margin-bottom: 37px;
  }
  p {
    color: $color_yellow;
    font-size: 21px;
    font-weight: 300;
    word-break: break-word;
  }
  &__title {
    border-bottom: 2px solid #F5C607;
    padding-bottom: 40px;
    text-align: center;
    margin-bottom: 22px;
    h3, h4 {
      text-transform: uppercase;
      font-weight: 400;
    }
    h3 {
      color: $color_yellow;
      font-size: 35px;
    }
    h4 {
      color: $color_white;
      font-size: 29px;


    }
  }
  &__wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &__item {

  }
  &__num {
    color: $color_white;
    font-size: 83px;
    font-weight: 300;
    letter-spacing: -4.93px;
    word-wrap: break-word;
  }
  &__num-text {
    color: $color_white;
    font-size: 21px;
    font-weight: 300;
    margin-left: -21px;
    letter-spacing: 0;
  }
  @include lg_1441 {
    &__num {
      font-size: 70px;
    }
    &__num-text {
      left: -14px;
    }
  }
  @include md_1190 {
    &__num {
      font-size: 50px;
    }
    &__num-text {
      margin-left: -3px;
      font-size: 16px;
    }
    p {
      font-size: 19px;
    }
  }
  @include md_960 {
    padding-bottom: 80px;
    &__num {
      font-size: 36px;
    }
    &__num-text {
      font-size: 16px;
    }
    p {
      font-size: 17px;
    }
  }
  @include sm_690 {
    &__item {
      width: calc((100% - 30px) / 2);
    }
    p {
      font-size: 15px;
    }
    &__title {
      h3 {
        font-size: 30px;
      }
      h4 {
        font-size: 23px;
      }
    }
  }
  @include xs_540 {
    &__item {
      width: calc((100% - 30px)/ 1);
    }
    &__title {
      h3 {
        font-size: 20px;
      }
      h4 {
        font-size: 18px;
      }
    }
  }
}

.slider-info {
  height: 100%;
  .content {
    padding: 205px 25px 0 25px;
  }
  &__item {
    height: auto !important;
    &:first-child {
      background-color: $color_green;
    }
  }
  &__item-wrap {
    width: 100%;
    height: 100%;
    background-color:$color_green !important;
    //background: url(../img/sl8/bg1.png) 0 100%/auto repeat-x;
    z-index: -1;
    background-size: cover;
    position: relative;
    overflow: hidden;
    background: url(../img/sl8/bg1.png) 0 100%/auto repeat-x;
    &.s-2 {
      background-color: $color_fiol !important;
    }
    &.s-3 {
      background-color: $color_yellow !important;
      background: url(../img/sl8/bg2.png) 0 100%/auto repeat-x;
      .info__title {
        border-color: $color_red;
        h3 {
          color: $color_white;
        }
      }
      .info__item {
        border-color: $color_red !important;
        &:last-child {
          margin: 0 auto;
        }
      }
      .info__num, .info__num-text, h4{
        color: $color_red;
      }
      p {
        color: $color_white;
      }
    }
    &.s-4 {
      background-color: #20A6E0 !important;
      .info__item {
        &:nth-child(4) {
          margin: 0 auto;
        }
      }
    }
  }
  @include sm_769 {
    .content {
      padding: 80px 25px 0 25px;
    }
  }
  @include xs_540{
    .content {
      padding: 40px 25px 0 25px;
    }
  }
}



@media (max-height: 800px){
  .s-info .center-wrap {
    padding-bottom: 160px;
  }
}
@media screen and ( min-width: 1200px ) and ( max-height: 820px ) {
  .s-history .center-wrap {
    padding-bottom: 30px;
  }
  .slider-info .content {
    padding: 130px 25px 0 25px !important;
  }
  .info {
    &__item {
      margin-bottom: 22px;
    }
    &__title {
      padding-bottom: 20px;
    }
    &__num {
      font-size: 50px;
    }
    &__num-text {
      margin-left: -4px;
    }
    p {
      font-size: 17px;
    }
  }
  .history {
    zoom: 0.9;
    &__title {
      font-size: 29px;
      margin-bottom: 29px;
    }
    &__img {
      position: relative;
      padding-bottom: 61.818181%;
      margin-bottom: 0px;
    }
  }
  .links {
    &__item {
      margin-bottom: 20px;
    }
  }
  .invest {
    padding-top: 137px;
    &__wrap{
      zoom: 0.9;
    }
    .s-title {
      margin-bottom: 15px;
      font-size: 26px;
    }
  }
  .slider {
    .content {
      padding: 140px 25px 0 25px;
    }
  }
  .news {
    zoom: 0.95;
    &__top {
      margin-bottom: 30px;
    }
  }
}

@media screen and ( min-width: 1024px ) and ( max-height: 1366px ) {
  .slider {
    .content {
      padding: 160px 25px 0 25px;
    }
  }
  .s-links {
    .center-wrap {
      padding-top: 140px;
    }
  }
  .info {
    &__item {
      margin-bottom: 22px;
    }
    &__title {
      padding-bottom: 20px;
    }
    &__num {
      font-size: 50px;
    }
    &__num-text {
      margin-left: -4px;
    }
    p {
      font-size: 17px;
    }
  }
  .news {
    zoom: 0.95;
    &__top {
      margin-bottom: 30px;
    }
  }
  .invest {
    padding-top: 137px;
    &__wrap{
      zoom: 0.9;
    }
    .s-title {
      margin-bottom: 15px;
      font-size: 26px;
    }
  }
  .s-history {
    .center-wrap {
      align-items: flex-start;
      padding-top: 120px;
    }
  }
}
@media screen and ( min-width: 970px ) and ( max-height: 768px ) {
  .info {
    zoom: 0.9;

    &__item {
      margin-bottom: 15px;
    }
  }
  .invest {
    zoom: 0.9;
    padding-top: 120px;
  }
  .slider-info .content {
    padding: 131px 25px 0 25px;
  }
  .s-title {
    font-size: 28px;
    margin-bottom: 30px;
  }
  .governor-appeal--third {
    .center-wrap {
      justify-content: flex-start;
    }

    .slider .content {
      padding: 140px 25px 0 25px;
    }
    .governor-appeal__text {
      margin-top: 140px;
    }
  }
  .news {
    &__item {
      margin-bottom: 20px;
    }
  }
  .prop {
    margin: 10px auto 0 auto;
  }
}