* {
  padding: 0;
  margin: 0;
  border: none;
  box-sizing: border-box;
  outline: 0;
  list-style-type: none;
  text-decoration: none;
  font-family: 'Asket';
}

.center-wrap {
  max-width: 1234px;
  width: 100%;
  padding: 0 25px;
  margin: 0 auto;
}
.content {
  max-width: 1234px;
  width: 100%;
  margin: 0 auto;
  padding: 0 25px;
}



